/************************** 
responsive mobile area here  
***************************/
/* 767px -xl- Extra large device area here  */
@media screen and (max-width: 1366px){
    /* index.html  */
    /* banner area here   */
    .bannerAgency-content {}
    .bannerWrap {
        background-size: 700px;
    }
    .bannerAgency-content .content h2 {
        font-size: 40px;
        padding-bottom: 10px;
        line-height: 47px;
    }
    /* service area here  */
    .servicewrap .circel {
        right: 0;
    }
    /* youCan area here  */
    .youCanWrap .circel{
        left: 0;
    }
    /* about.html */
    /* .banner  */
    .banner .container .circel {
        position: absolute;
        right: 0;
    }
    /* service.html  */
    /* service area here  */
    .service .angle {
        left: 0px;
    }
}
@media screen and (min-width: 1200px){
    .container{
        max-width: 1110px;
    }
}
@media screen and (max-width: 1200px){
    /* about.index  */
    /* can  */
    .can .img {
        margin-bottom: 80px;
    }
}
/* 991px -lg- Large device area here  */
@media screen and (max-width: 992px){
    /* graph display none  */
    .circel, .angle{
        display: none;
    }
    /* index.html  */
    /* youCan area here  */
    .youCanImg {
        padding-bottom: 40px;
    }
    /* vedio area here  */
    .vedioRow {
        display: flex;
        justify-content: center;
    }
    .vedioArea .vedio {
        justify-content: center;
    }
    .vedioContent {
        position: relative;
        margin-top: 0;
        margin-bottom: 70px;
    }
    /* footer area here  */
    .footer-content {
        margin-bottom: 60px;
    }
    /* portfolio.index  */
    /* portfolio section  */
    .portfolio .img img {
        padding: 10px 0px;
        width: 100% !important;
    }
    /* blogOne-html  */
    /* blog area  */
    .blog-item {
        margin-bottom: 80px;
        padding-right: 0px;
    }
    /* contact form index.area here  */
    /* contact form  */
    .contact-item .form-group1 {
        grid-template-columns: auto;
    }
}
/* 767px -md- Medium device area here  */
@media screen and (max-width: 768px){
    /* index.html  */
    /* header area here  */
    .header-menu nav {
        display: none;
    }
    .header-menu #mobileMenu{
        display: flex;
        align-items: center;
    }
    .slicknav_menu {
        background: none;
    }
    .slicknav_nav {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: #2b2e3d;
        z-index: 100;
    }
    .slicknav_menu .slicknav_menutxt {
        display: none;
    }
    .slicknav_menu .slicknav_icon {
        margin: 0;
    }
    .slicknav_btn {
        margin: 0;
        background-color: #ff845a;
    }
    .slicknav_nav .slicknav_arrow {
        display: none;
    }
    .slicknav_nav li, .slicknav_nav ul {
        display: block;
        line-height: 50px;
        text-align: center;
    }
    .slicknav_nav a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 0.5px;
    }
    .slicknav_menu, .slicknav_menu * {
        color: #fff;
    }
    /* banner area here  */
    .graphAll{
        display: none;
    }
    /* portfolio area here  */
    .Port-Img-Left {
        padding-bottom: 30px;
    }
    /* portfolio.index  */
    /* portfolio section  */
    .portfolio .nav {
        margin-bottom: 80px;
    }
    
    .details .share .icon ul li a i {
        font-size: 12px;
    }
    .details .share .icon ul li a img {
        width: 12px;
    }
    .details .share ul.s-like li a {
        font-size: 12px;
    }
    /* contact form index.area here  */
    /* contact form  */
    .contact-item {
        padding: 80px 80px;
    }
}
/* 576px -sm- Small device area here  */
@media screen and (max-width: 576px){
     /* index.html  */
    /* banner area here  */
    .bannerWrap {
        padding: 106px 0px;
    }
    .bannerAgency-content .button a {
        margin-bottom: 18px;
    }
    /* service area here  */
    .service-title .title h2 {
        font-size: 26px;
        line-height: 38px;
    }
    .serviceCard .content h2 {
        font-size: 26px;
    }
    .service-title .logo {
        display: block;
    }
    /* vedio area here  */
    .vedioArea {
        padding-bottom: 70px;
    }
    .vedioContent {
        height: auto;
        display: inline-block;
        background-image: none;
        margin-bottom: 0;
    }
    .vedioContent ul {
        margin-top: 0;
    }
    .vedioContent::after {
        background-image: none;
    }
    .vedioContent ul li h2 {
        letter-spacing: 1px;
        color: #2b2e3d;
    }
    .vedioContent ul li h2 span {
        color: #2b2e3d;
    }
    .vedioContent ul li p {
        font-size: 20px;
        letter-spacing: 1px;
        color: #2b2e3d;
    }
    /* portfolio area here  */
    .portNav ul li a {
        font-size: 22px;
    }
    .Port-Img-Left .content h2, .port-Img-Right .content h2 {
        font-size: 26px;
    }
    .Port-Img-Left .content p, .port-Img-Right .content p {
        font-size: 14px;
    }
    /* get area here  */
    .get-card {
        padding: 0px 15px;
    }
    /* about.html */
    /* .banner  */
    .banner .container img{
        display: none;
    }
    /* can  */
    .can .can-content h2 {
        font-size: 40px;
        line-height: 50px;
    }
    .can .img {
        margin-bottom: 60px;
    }
    /* blogOne-html  */
    /* blog area  */
    .date-like div.date a, .date-like ul.like li a, .creative ul.content li h2, .category table tr td, .blog-items .contents p {
        font-size: 17px;
    }
    .date-like {
        display: inline-block;
        line-height: 40px;
        margin-top: 26px;
    }
    .date-like ul.like {
        display: flex;
        flex-wrap: wrap;
    }
    .date-like ul.like li {
        margin-right: 20px;
        margin-left: 0px;
    }
    .blog-items .contents h2 {
        padding: 20px 0px 20px;
    }
    .details > .title h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .details .share {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 15px;
    }
    .details .share .icon label {
        font-size: 16px;
    }
    .details .share .icon ul {
        margin-left: 10px;
    }
    .details .share ul.s-like li {
        margin-left: 0px;
        margin-right: 10px;
    }
    .comments {
        display: block;
    }
    .comments .img {
        padding-bottom: 40px;
    }
    .comments .content {
        margin-left: 0;
    }
    .comments .content ul {
        margin: 10px 0px 20px;
    }
    .comments .content ul li a {
        font-size: 11px;
    }
    .blog-form form div.form-group {
        display: block;
        margin-bottom: 0;
    }
    .blog-form form div.form-group input {
        width: 100%;
        letter-spacing: 1px;
        margin-bottom: 3%;
    }
    /* contact form index.area here  */
    /* contact form  */
    .contact-item {
        padding: 80px 15px;
    }
}
/******************************* 
responsive mobile area ends here  
********************************/